:root {
  --primary-white: rgb(255, 255, 255);
  --secondary-white: rgb(217, 217, 217);
  --blue: rgb(106, 162, 209);
  --pink: rgb(210, 179, 193);
  --min-temp: rgb(181, 198, 155);
  --max-temp: rgba(224, 151, 42, 0.53);
  --dark: rgba(28, 36, 40, 0.49);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--primary-white);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background: var(--pink);
  cursor: pointer;
  color: var(--primary-white);
  outline: none;
  border: none;
}

::placeholder {
  color: var(--blue);;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: var(--blue);;
  opacity: 1;
}

:-moz-placeholder {
  color: var(--blue);;
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--blue);;
  opacity: 1;
}

::-ms-input-placeholder {
  color: var(--blue);;
  opacity: 1;
}