.title {
  font-size: 43px;
  font-weight: 700;
  letter-spacing: 0.14em;
  text-align: center;
}

.search_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  height: 10vh;
  top: calc(50% - 10vh);
  transform: translateX(-50%);
}